.mother{
  height: 100vh;
  width: 100vw;
  background-color: #a8dadc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.addTaskBox{
  background-color: #ffffff;
  border-color: white
}

.addTaskBox:hover{
  background-color: #000000;
  border-color: white
}

.copyright{
  color: #1d3557;
  font-size: 0.8rem;
  font-weight: 100;
  font-family: sans-serif;
}